.table {
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  width: 100%;
}

.table th,
.table td {
  font-weight: unset;
  padding-right: 10px;
  border-collapse: collapse;
  padding-left: 15px;
}

.table th {
  font-size: 18px;
  color: #fa4251;
  line-height: 1.4;
  background-color: transparent;
  padding-top: 18px;
  padding-bottom: 18px;
  font-weight: bold;
}

.table td {
  font-size: 15px;
  color: #808080;
  line-height: 1.4;
}

.table thead th:first-child {
  text-align: center;
}

.table tbody tr {
  border-bottom: 1px solid #f2f2f2;
}
